.grid {
  display: grid;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;

  grid-template-areas: "sun";
}

/* styling van grid section */
.grid div {
  color: white;
  font-size: 20px;
  padding: 20px;
  }

/* styling per item*/
.item-1 {
  background: #EBFAFF;
  grid-area: sun;
  font-family: 'Anton', sans-serif;
}

canvas{
  height: 100%;
  width: 100%;
}
